@model PortalDRKP.Models.T_1C_Subdivision

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T_1C_Subdivision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cmnDepartment.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmnDepartment.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pVertical.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pVertical.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_1C_Subdivision2.Sub_SID1C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_1C_Subdivision2.Sub_SID1C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_SID1C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_SID1C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Sub", "Management")
        </div>
    }
</div>
