@using PortalDRKP.Models
@model IEnumerable<PortalDRKP.Models.T_1C_Users>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("ДРКП", "DRKP", "Management")</li>
            <li>@Html.ActionLink("Подразделения", "Sub", "Management")</li>
        </ul>
    </nav>

   <p  style="font-size:2.2em;">@ViewBag.Message</p>
    <p  style="font-size:2.2em;">  @Html.DisplayNameFor(model => model.User_Name) </p>

     
    <ul>
        @foreach (var item in Model)
        {
            <li  style="font-size:2.2em;">
                @Html.DisplayFor(modelItem => item.User_Name)
            </li>
        }

    </ul>

    <p style="font-size:2.2em;">
        @Html.ActionLink("Back to List", "Sub", "Management")|
        @Html.ActionLink("Back to Details", "Details", "T_1C_Subdivision", new { id = ViewBag.SubID }, null)
    </p>


</body>
</html>
